
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Cinzel Decorative';
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    
}

.header{
    background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(imagenes/black-liquid-marble-background-handmade-acrylic-paint.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;

}

.logo{
    color:white;
    font-size: 30px;
    font-weight: 900;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color:white;
    font-weight: 700;
    display: block;

}

.menu .navbar ul li a:hover{
    color: goldenrod;
}
#menu{
    display: none;

}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;

}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;


}

.boton1{
    height: px;
    width:190px;
    display: inline-block;
    padding:11px 35px;
    background-color: goldenrod;
    color: white;
    text-transform: uppercase;
    
}
.boton1:hover{
    background-color: gold
}

.mejores-ganadores{
    padding: 100px 0;
    background-color:goldenrod;
    position: relative;
}
.contenido-ganadores{
    text-align: center;
}
.contenido-ganadores h2{
    font-size: 55px;
    line-height: 70px;
    color:black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.contenido-ganadores h2:hover{
    color: white;
}

.boton1-bis{
    height: px;
    width:190px;
    display: inline-block;
    padding:11px 35px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
.boton1-bis:hover{
    background-color: gold
}

.txt-parrafo{
    font-size: 16px;
    color: black;
    padding: 0 250px;
    padding-bottom: 35px;
}
.nombres-grupo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 5%;
    gap: 25px;

}
.nombres-1 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    
}
.nombres-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px black solid;
    border-radius: 20px;
    padding: 25px;
    background-color: rgb(27, 25, 25);
    color: whitesmoke;

}

.nombres-1 p{
    text-align: left;
}


.contenido-ganadores .boton1-bis{
    text-align: center;
}
.vintage{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Estadio_ingles_lima.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.contenido-vintage{
    text-align: center;
    
}
.contenido-vintage h2{
    font-size: 55px;
    line-height: 70px;
    color:black;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.contenido-vintage p{
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    padding: 0 150px;

}
.vintage-grupo{
   display: flex;
   justify-content: space-between;
   padding: 0 400px;
}
.vintage-1 img{
   width: 50px;
   margin-bottom: 15px;
}

.general{
display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: goldenrod;
    
}

.general-2{
    background-image: url(https://dicodusport.fr/blog/wp-content/uploads/2021/04/25-avril-1992-Dernier-match-de-Papin-avec-lOM.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3{
    background-image: url(https://www.panenka.org/wp-content/uploads/2019/03/lev-759x500-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2{
font-size: 40px;
margin-bottom: 20px;
}
h2:hover{
    color: white;
}

p{
    font-size: 16px;
    margin: 25px 0 45px 0;
}

.polemicas{
    padding: 100px 0;
    text-align: center;

}





@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');








@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
