header {
  background-image: url(https://img.freepik.com/vector-premium/fondo-textura-marmol-negro_322958-628.jpg);
  background-size: cover;
  background-position: center;
  color:whitesmoke;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}



body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.contenido-carta {
  display: flex;
  justify-content: center;
  gap: 140px; 
  background-color: #ddd;
  padding: 100px 0px 300px 0px;
  
}

.carta {
  background-color:whitesmoke;
  border: 3px solid gainsboro;
  border-radius: 10px;
  width: 300px;
  padding: 60px;
  box-shadow: 0 2px 6px rgba(196, 189, 189, 0.1);
  text-align: center;
  height:600px;
  
}

.carta img {
  width: 300px;
  border-radius: 8px;
 
}

.carta p {
  margin-top: 30px;
  font-size: 0.9em;
}

.carta i{
  font-size: 50px;
}
footer {
  margin-top: auto;
  background-color: #222;
  color: #eee;
  
  text-align: center;
  font-size: 0.9em;
  background-image: url(https://img.freepik.com/vector-premium/fondo-textura-marmol-negro_322958-628.jpg);
}

.body{
  padding: 50px;
}

.boton-atras{
  height: 60px;
  width: 190px;
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  align-items: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 120px;
  text-align: center;
  margin-left: 850px;

}

.boton-atras:hover{
  background-color:goldenrod;
}