header {
  background-image: url(https://img.freepik.com/vector-premium/fondo-textura-marmol-negro_322958-628.jpg);
  background-size: cover;
  background-position: center;
  color:whitesmoke;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}



body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.contenido-carta {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.carta {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.carta img {
  width: 100%;
  border-radius: 8px;
}

.carta p {
  margin-top: 10px;
  font-size: 0.9em;
}

footer {
  margin-top: auto;
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9em;
  background-image: url(https://img.freepik.com/vector-premium/fondo-textura-marmol-negro_322958-628.jpg);
}